In [1]:
import pandas as pd
import numpy as np

In [2]:
npr = pd.read_csv("./npr.csv")

In [3]:
npr.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [5]:
len(npr)

11992

In [6]:
npr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11992 entries, 0 to 11991
Data columns (total 1 columns):
Article    11992 non-null object
dtypes: object(1)
memory usage: 93.8+ KB

In [8]:
npr.describe().transpose()

         count unique                                                top freq
Article  11992  11991  Washington state has released an estimated 3, ...    2

In [9]:
from sklearn.feature_extraction.text import CountVectorizer

In [11]:
cv = CountVectorizer(max_df = 0.9, min_df =2, stop_words="english" ) #max_df = max document frequency, min_df = min document frequency, if int then number of doc, otherwise between 0 and 1 (frequency)

In [12]:
dtm = cv.fit_transform(npr["Article"])

In [13]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.int64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [14]:
from sklearn.decomposition import LatentDirichletAllocation

In [15]:
LDA = LatentDirichletAllocation(n_components=7,random_state=42) #n_components depends of experience, it represents the number of topics

In [16]:
LDA.fit(dtm)

LatentDirichletAllocation(batch_size=128, doc_topic_prior=None,
             evaluate_every=-1, learning_decay=0.7,
             learning_method='batch', learning_offset=10.0,
             max_doc_update_iter=100, max_iter=10, mean_change_tol=0.001,
             n_components=7, n_jobs=None, n_topics=None, perp_tol=0.1,
             random_state=42, topic_word_prior=None,
             total_samples=1000000.0, verbose=0)

In [18]:
#Grab the vocabulary of Words
len(cv.get_feature_names())

54777

In [19]:
type(cv.get_feature_names())

list

In [22]:
import random

random_word_id = random.randint(0,len(cv.get_feature_names()))
cv.get_feature_names()[random_word_id]

'refinancing'

In [21]:
cv.get_feature_names()[41000]

'reproductive'

In [23]:
#Grab the topic

len(LDA.components_)

7

In [24]:
type(LDA.components_)

numpy.ndarray

In [26]:
LDA.components_.shape

(7, 54777)

In [27]:
single_topic = LDA.components_[0]

In [28]:
single_topic.argsort()

array([ 2475, 18302, 35285, ..., 22673, 42561, 42993])

In [29]:
arr = np.array([10,200,1])

In [30]:
arr

array([ 10, 200,   1])

In [31]:
arr.argsort() #Arg sorted ASC

array([2, 0, 1])

In [33]:
#ARGSORT --> INDEX POSITIONS SORTED FROM LEAST --> GREATEST
# TOP 10 values 
# LAST 10 VALUES
single_topic.argsort()[-10:] #The 10 last values, the highest probability

array([33390, 36310, 21228, 10425, 31464,  8149, 36283, 22673, 42561,
       42993])

In [34]:
top_ten_words = single_topic.argsort()[-10:]

In [36]:
for index in top_ten_words:
    print(cv.get_feature_names()[index])

new
percent
government
company
million
care
people
health
said
says

In [37]:
top_twenty_words = single_topic.argsort()[-20:]

In [38]:
for index in top_twenty_words:
    print(cv.get_feature_names()[index])

president
state
tax
insurance
trump
companies
money
year
federal
000
new
percent
government
company
million
care
people
health
said
says

In [44]:
#Grab the highest probability words per topic

In [43]:
for i,topic in enumerate(LDA.components_):
    print(f"THE TOP 15 WORDS FOR TOPIC #{i}")
    print([cv.get_feature_names()[index] for index in topic.argsort()[-15:]])
    print("\n")

THE TOP 15 WORDS FOR TOPIC #0
['companies', 'money', 'year', 'federal', '000', 'new', 'percent', 'government', 'company', 'million', 'care', 'people', 'health', 'said', 'says']


THE TOP 15 WORDS FOR TOPIC #1
['military', 'house', 'security', 'russia', 'government', 'npr', 'reports', 'says', 'news', 'people', 'told', 'police', 'president', 'trump', 'said']


THE TOP 15 WORDS FOR TOPIC #2
['way', 'world', 'family', 'home', 'day', 'time', 'water', 'city', 'new', 'years', 'food', 'just', 'people', 'like', 'says']


THE TOP 15 WORDS FOR TOPIC #3
['time', 'new', 'don', 'years', 'medical', 'disease', 'patients', 'just', 'children', 'study', 'like', 'women', 'health', 'people', 'says']


THE TOP 15 WORDS FOR TOPIC #4
['voters', 'vote', 'election', 'party', 'new', 'obama', 'court', 'republican', 'campaign', 'people', 'state', 'president', 'clinton', 'said', 'trump']


THE TOP 15 WORDS FOR TOPIC #5
['years', 'going', 've', 'life', 'don', 'new', 'way', 'music', 'really', 'time', 'know', 'think', 'people', 'just', 'like']


THE TOP 15 WORDS FOR TOPIC #6
['student', 'years', 'data', 'science', 'university', 'people', 'time', 'schools', 'just', 'education', 'new', 'like', 'students', 'school', 'says']

In [45]:
dtm

<11992x54777 sparse matrix of type '<class 'numpy.int64'>'
	with 3033388 stored elements in Compressed Sparse Row format>

In [47]:
npr.head()

                                             Article
0  In the Washington of 2016, even when the polic...
1    Donald Trump has used Twitter  —   his prefe...
2    Donald Trump is unabashedly praising Russian...
3  Updated at 2:50 p. m. ET, Russian President Vl...
4  From photography, illustration and video, to d...

In [48]:
topic_results = LDA.transform(dtm)

In [50]:
topic_results.shape

(11992, 7)

In [51]:
topic_results[0].round(2)

array([0.02, 0.68, 0.  , 0.  , 0.3 , 0.  , 0.  ])

In [52]:
topic_results[0].argmax()

1

In [53]:
npr["topic"] = topic_results.argmax(axis=1)

In [54]:
npr.head()

                                             Article  topic
0  In the Washington of 2016, even when the polic...      1
1    Donald Trump has used Twitter  —   his prefe...      1
2    Donald Trump is unabashedly praising Russian...      1
3  Updated at 2:50 p. m. ET, Russian President Vl...      1
4  From photography, illustration and video, to d...      2